*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    font-family: "Inter",sans-serif;
    list-style: none;
    overflow-x: hidden;
    animation: body_animate 1s linear;
}

a{
    color: white;
}

@keyframes body_animate{
    0%{
        opacity: 0;
    }

    25%{
        opacity: 0.25;
    }

    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.75;
    }

    100%{
        opacity: 1;
    }
}


.top-header{
    width: 100%;
    height: 13vh;
    background-color: #6EB356;
    display: flex;
    color: white;
}



.top-header>ul{
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    margin: 0.9rem auto;
}

.top-header>ul>li{
    display: flex;
    font-size: 0.9rem;
}

.nav-icon{
    padding-right: 0.3rem;
}

.dark{
    padding-left: 0.3rem;
}

#main-wrapper{
    /* padding: 0 10rem 0 10rem; */
}

.flag>img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.ri-moon-fill{
    color: white;
}

.second-header {
    display: flex;
    width: 82%;
    height: 12vh;
    background-color: white;
    position: relative;
    top: -5vh;
    /* padding: 1rem; */
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
    left: 7.8rem;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menubtn{
    content: "";
    width: 4.5rem;
    height: 100%;
    border-top-right-radius: 0.5rem;
    background: url(./img/shapes/btn-dots.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF7C08;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
}

.img-dots{
    position: fixed;
    left: 87.4%;
    cursor: pointer;
}

.second-header>.logo{
    width: max-content;
    margin-left: 1rem;
}

.second-header>ul{
    display: flex;
    margin-left: 9rem;
    align-items: center;
}
.second-header>ul>li{
    margin: 0 0.8rem 0 0.8rem;
    cursor: pointer;
    padding: 1.5rem 0;
    width: max-content;
}


.phone{
    display: flex;
    display: none;
}


/* hover_windows_menu */
.browse_category_menu{
    width: 50vw;
    height: 40vh;
    display: flex;
    position: absolute;
    border-radius: 0.3rem;
    top: 4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
    background-color: white;
    display: none;
    
}


.home_menu{
    width: 15vw;
    height: 45vh;
    display: flex;
    position: absolute;
    border-radius: 0.3rem;
    top: 4rem;
    left: 30rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
    background-color: white;
    display: none;
}

.home_menu>ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home_menu>ul>li{
    padding: 0.58rem 0.8rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}

.home_menu>ul>li>a{
    color: black;
    transition: all 0.3s ease-out;
}

.home_menu>ul>li>a:hover{
    color: #6EB356;
    padding-left: 0.5rem;
    transition: padding-left 0.3s;
    
}

.home_menu>ul>li:last-child{
    border: none;
}

.products_menu{
    width: 15vw;
    height: 15vh;
    display: flex;
    position: absolute;
    border-radius: 0.3rem;
    top: 4rem;
    left: 36rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
    background-color: white;
    display: none;
}

.blog_menu{
    width: 15vw;
    height: 15vh;
    display: flex;
    position: absolute;
    border-radius: 0.3rem;
    top: 4rem;
    left: 42rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
    background-color: white;
    display: none;
}

.pages_menu{
    width: 28vw;
    height: 60vh;
    display: flex;
    position: absolute;
    border-radius: 0.3rem;
    top: 4rem;
    left: 51rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
    background-color: white;
    display: none;
}

.account_menu{
    width: 28vw;
    height: 60vh;
    display: flex;
    position: absolute;
    border-radius: 0.3rem;
    top: 4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
    background-color: white;
    display: none;
}


.browse_category:hover + .browse_category_menu{ 
    display: flex;
    animation:  about_menu 0.5s linear;

}
.browse_category_menu:hover{
    display: flex;
}



.home:hover + .home_menu{
    display: flex;
    animation:  about_menu 0.5s linear;
}
.home_menu:hover{
    display: flex;
}



.products:hover + .products_menu{
    display: flex;
    animation:  about_menu 0.5s linear;
}
.products_menu:hover{
    display: flex;
}



.blog:hover + .blog_menu{
    display: flex;
    animation:  about_menu 0.5s linear;
}
.blog_menu:hover{
    display: flex;
}

.pages:hover + .pages_menu{
    display: flex;
    animation:  about_menu 0.5s linear;
}
.pages_menu:hover{
    display: flex;
}

.account:hover + .account_menu{
    display: flex;
    animation:  about_menu 0.5s linear;
}
.account_menu:hover{
    display: flex;
}




/* ************************* */

.about-container{
    width: 410px;
    max-width: 800px;
    height: 100%;
    background-color: white;
    display: flex;
    overflow-y: scroll;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 100%;
    transition: 0.5s;
}

.about-container.active{
    left: 70%;
    position: fixed;
    max-width: 800px;
    width: auto;
}

.about-container-content{
    padding: 2rem;
    width: 100%;
}

.about-container-content>.about-logo{
    width: max-content;
}

.about-top-wrapper{
    display: flex;
    justify-content: space-between;
}

.about-top-wrapper.hide{
    display: none;
}
.about-top-wrapper.animate{
    display: flex;
    animation: about_menu 1s;
}


@keyframes about_menu{
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.about-mid-wrapper{
    padding: 1rem 0 1rem 0;
}

.about-mid-wrapper.hide{
    display: none;
}
.about-mid-wrapper.animate{
    display: block;
    animation: about_menu 1.1s;
}

.about-mid-btn{
    padding: 1.2rem 2.3rem 1.2rem 2.3rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #6EB356;
    color: white;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    transition: 0.9s;
}

.about-mid-btn:hover{
    background-color: #FF7C08;
}


.about-bottom-wrapper.hide{
    display: none;
}
.about-bottom-wrapper.animate{
    display: block;
    animation: about_menu 1.2s;
}

.about-bottom-wrapper>ul>li>i{
    color: #FF7C08;
}
.about-bottom-wrapper>ul{
    display: flex;
}
.about-bottom-wrapper>ul>li{
    margin: 1rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
}







/* hero_section */

#hero_section{
    /* background-color:aliceblue ; */
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    margin-bottom: 10rem;
}

.hero_handles{
    display: flex;
    padding: 1.4rem;
    align-items: center;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 24rem;
    left: -8rem;
    transform: rotate(-90deg);
}

.hero_handles>h5{
    font-size: 0.8rem;
}



.hero_handles>ul{
    display: flex;
}

.hero_handles>ul>li{
    display: flex;
    padding: 0 0.6rem;
    cursor: pointer;
    transition: 0.8s;
}

.hero_handles>ul>li:hover{
    color: #FF7C08;
}

.hero_handles>ul>li>i{
    transform: rotate(90deg);
    font-size: 1.2rem;
}

.circle_motion_sm{
    position: absolute;
    animation: circle_motion 20s forwards infinite;
    z-index: -10;
    top: 4rem;
    left: 5rem;
}

.mango_img{
    z-index: -10;
    animation: leaf_animate 10s linear infinite;
}

.hero_left{
    width: 46%;
    height: 100%;
    margin-left: 6rem;
    /* border: 1px solid green; */
    padding: 2rem 1rem;
    animation: about_menu 1s;
}

.hero_left>h1{
    font-size: 3.7rem;
    color: #191D28;
    padding: 0.9rem 0;
    animation: about_menu 1s;
    animation-delay: .2s;
}

.hero_left_btns{
    display: flex;
    gap: 1.2rem;
    animation: about_menu 1s;
    animation-delay: .3s;
}

.hero_left_btns>button{
    padding: 1.1rem 2rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    transition: 0.9s;
    z-index: 1;
}

.hero_left_btns>button:first-child:hover{
    background-color: #6EB356!important;
}

.hero_left_btns>button:last-child:hover{
    background-color: #FF7C08!important;
}

.hero_right{
    position: relative;
    width: 65%;
    height: 100%;
    /* border: 1px solid green; */
    padding: 2rem 1rem;
    margin: 0 1rem;
}

#hero_section>div:nth-child(2){
    position: relative;
    top:4.5rem;
}

.circle_motion{
    position: absolute;
    width: 30rem;
    height: 30rem;
    animation: circle_motion 20s forwards infinite;
}

.circle_motion>img{
    width: 100%;
    height: 100%;
}

@keyframes circle_motion{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

.vegies_img{
    position: absolute;
    width: 32rem;
    height: 37rem;
    left: 5rem;
    z-index: 10;
    animation: vegies_animate 1s;
}

@keyframes vegies_animate{
    0%{
        transform:scale(0.8)
    }
    100%{
        transform:scale(1)
    }
}

.vegies_img>img{
    width: 100%;
    height: 100%;
}

.leaves_tree{
    position: absolute;
    left: 4.3rem;
    top: 3rem;
    animation: about_menu 1s;
}

.orange{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10rem;
    left: -4rem;
}

.orange>img:nth-child(1){
    animation:  about_menu 1s;
}

.orange>img:nth-child(2){
    animation:  about_menu 1.1s;
}


.leaf{
    position: absolute;
    left: 27rem;
    top: -2rem;
    animation: leaf_animate 10s linear infinite;
}

@keyframes leaf_animate{
    0%{
        transform: translateY(0rem);
    }
    25%{
        transform: translateY(-3rem);
    }
    50%{
        transform: translateY(0rem);
    }
    75%{
        transform: translateY(-3rem);
    }
    100%{
        transform: translateY(0rem);
    }
}


/* category_section */

#top_category_section{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    /* margin-bottom: 5rem; */
}

#top_category_section>h3{
    position: relative;
    display: flex;
    margin: auto;
    padding: 0 0.4rem;
    background: white;
    top: 0.8rem;
    width: max-content;
}

.category_container{
    width: 80%;
    height: 100%;
    border: 2.5px dashed #FF7C08;
    border-radius: 0.5rem;
    display: flex;
    margin: auto;
    padding: 1rem 0.8rem; 
}

.category_boxes_container{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
    /* grid-template-columns: repeat( 4, 1fr ); */
}

.category_boxes_container>.box{
    position: relative;
    width: 25vw;
    height: 13vw;
    margin: 1rem;
    border: 1px solid #8080801c;
    border-radius: 0.5rem;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: 0.35s;
    
}

.category_boxes_container>.box::after{
    content: "";
    width: 30px;
    height: 30px;
    background: url(./img/arrow-right-up-line.svg);
    background-size: 1.3rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #FF7C08;
    position: absolute;
    display: flex;
    /* float: right; */
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.1rem;
    display: none;
    transition: 0.5s;
    animation: uparrow 0.5s linear forwards;
}

.category_boxes_container>.box:hover{
    transform: translate(-0.1rem,-0.1rem);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.category_boxes_container>.box:hover.box::after{
    display: flex;
}

@keyframes uparrow{
    0%{
        transform: translate(0rem,0rem);
        opacity: 0;
    }

    100%{
        transform: translate(-0.01rem,-0.01rem);
        opacity: 1;
    }
   
}

.box{
        /*
        use
        33.33% grid of 3
        25%    grid of 4
        20%    grid of 5
        16.66% grid of 6
        */
        flex: 0 0 calc(34% - 130px);
        color: white;
        padding: 10px;
        /* margin: 10px; */
}

.vegetables{
    display: flex;
    width: max-content;
    border: 1px dashed green;
    border-radius: 50%;
    padding: 0.5rem;
    margin: auto;
    margin-bottom:1rem ;
}

.vegetables::before{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #6EB356;
    border-radius: 50%;
    position: absolute;
}

.vegetables::after{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #6EB356;
    border-radius: 50%;
    position: absolute;
}

.fresh-fruits{
    display: flex;
    width: max-content;
    border: 1px dashed #FF8DCB;
    border-radius: 50%;
    padding: 0.5rem;
    margin: auto;
    margin-bottom:1rem ;
}

.fresh-fruits::before{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #FF8DCB;
    border-radius: 50%;
    position: absolute;
}

.fresh-fruits::after{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #FF8DCB;
    border-radius: 50%;
    position: absolute;
}

.milkndairy{
    display: flex;
    width: max-content;
    border: 1px dashed #B9CCFF;
    border-radius: 50%;
    padding: 0.5rem;
    margin: auto;
    margin-bottom:1rem ;
}

.milkndairy::before{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #B9CCFF;
    border-radius: 50%;
    position: absolute;
}

.milkndairy::after{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #B9CCFF;
    border-radius: 50%;
    position: absolute;
}

.coffee{
    display: flex;
    width: max-content;
    border: 1px dashed #FF7C08;
    border-radius: 50%;
    padding: 0.5rem;
    margin: auto;
    margin-bottom:1rem ;
}

.coffee::before{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #FF7C08;
    border-radius: 50%;
    position: absolute;
}

.coffee::after{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #FF7C08;
    border-radius: 50%;
    position: absolute;
}

.meat{
    display: flex;
    width: max-content;
    border: 1px dashed #FACD58;
    border-radius: 50%;
    padding: 0.5rem;
    margin: auto;
    margin-bottom:1rem ;
}

.meat::before{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #FACD58;
    border-radius: 50%;
    position: absolute;
}

.meat::after{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #FACD58;
    border-radius: 50%;
    position: absolute;
}


/* .box>span::before{
    width: 10px;
    content: "";
    height: 10px;
    background-color: #6EB356;
    border-radius: 50%;
    position: absolute;
    margin-right:2rem ;
} */



/* brand_products section */

#brand_products{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #EEF6EB;

}

#brand_products>img{
    padding-top: 9rem;
}

.brand_heading{
    text-align: center;
    line-height: 2;
}

.product_list{
    display: grid;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
    height: auto;
    /* border: 1px solid red; */
    gap: 0;
    grid-template-columns:50% 50%;
}

.product_box{
    display: flex;
    margin: 1rem 0;
    height: auto;
    align-items: center;
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem;
}

.product_box:nth-child(1){
    margin-right: 1rem;
}
.product_box:nth-child(3){
    margin-right: 1rem;
}
.product_box:nth-child(5){
    margin-right: 1rem;
}
.product_box:nth-child(7){
    margin-right: 1rem;
}

.product_banner{
    width: 45%;
    height: 100vh;
    background-color: white;
    display: flex;
    margin: 0 auto;
}


.product_img{
    width: 12vw;
    height: 9vw;
    background-color: #EEF6EB;
    border-radius: 0.3rem;
}

.product_img>img{
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

.product_img::before{
    content: "";
    width: 12vw;
    display: flex;
    height: 9vw;
    border-radius: 0.3rem;
    background-color: #86888d80;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.product_list>.product_box:hover.product_box>.product_img::before{
    transition: 0.5s;
    opacity: 1;
}


.product_details{
    padding: 0.5rem 0.5rem;
    font-family: Poppins; 
}

.product_details>h5{
    cursor: pointer;
}

.star_box{
    display: flex;
    gap: 5px;
}

.star_box>p{
    font-size: 0.8rem;
}

.star_box>ul{
    display: flex;
}

.product_banner{
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    height: auto;
}

.banner_text{
    padding: 2rem;
    width: 100%;
    height: auto;
    line-height: 1.3;
    /* background-color: blue; */
}

.banner_text>h2{
    font-size: 1.8rem;
}

.banner_text>h4{
    font-size: 1.5rem;
}


.banner_text>button{
    margin: 1rem 0;
}

.banner_text>button:hover{
    background-color: #6EB356!important;
}

.banner_img{
    /* background-color: red; */
    width: 100%;
    height: 60%;
}

.banner_img>img{
    width: 100%;
    height: 100%;
}




























/* footer */

#footer_section{
    position: relative;
    margin-top: 10rem;
    overflow: hidden;
}

footer{
    width: 100%;
    height: auto;
    background-color: #191D28;
    margin-top: -12rem;
    position: relative;
    z-index: 1;
    color: white;
}

.footer_img{
    position: relative;
    width: auto;
    z-index: -1;
    animation: 25s footer_animation infinite linear alternate ;
}

footer>h3{
    text-align: center;
    font-size: 1.6rem;
}

.input_btn_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}


.input_btn_box>input{
    width: 20vw;
    height: 10vh;
    border: none;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
}





footer>hr{
    width: 65%;
    display: flex;
    margin: auto;
    background-color: #ffffff26;
    border: none;
    height: 1px;
}

.input_btn{
    width: 12vw;
    height: 10vh;
    border: none;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #6EB356;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.input_btn:hover{
    background-color: #FF7C08;
}

.newArr{
    color: #FF7C08;
}


.footer_content{
    display: flex;
    height: auto;
    /* background-color: red; */
    margin: 1.5rem;
    margin-bottom: 8rem;
    justify-content: center;
    
}

.footer_links{
    height: 100%;
    width: max-content;
    /* background-color: blue; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}



.footer_links>ul>li{
    padding: 0.4rem 0;
}

.footer_links>ul>li>a{
    transition: padding-left 0.3s;
}

.footer_links>ul>li>a:hover{
    color: #6EB356!important;
    padding-left: 0.3rem;
}

.footer_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.footer_bottom>p>a{
    color: #FF7C08;
}

.payment_gtway{
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment_gtway>li{
    margin: 0 0.5rem;
}

.payment_gtway>li>img{
    padding: 0.6rem;
    border-radius: 0.3rem;
    background-color: #444444;
}



/* footer_animations */

.tomato{
    position: absolute;
    left: 5rem;
    animation: leaf_animate 10s linear infinite;
}
.tomatoslice{
    position: absolute;
    top: 18rem;
    right: 3rem;
    animation: 8s ease-in-out 0s infinite normal none running tomatoslice;
}

@keyframes tomatoslice {
    0%{
        top: 18rem;
    }

    25%{
        top: 20rem;
    }

    50%{
        top: 22rem;
    }

    75%{
        top: 20rem;
    }
    100%{
        top: 18rem;
    }
}

.tomatohalf{
    position: absolute;
    float: right;
    top: 28rem;
    animation: 8s ease-in-out 0s infinite normal none running tomatohalf;
}

@keyframes tomatohalf {
    0%{
        right: 3rem;
    }

    25%{
        right: 6rem;
    }

    50%{
        right: 9rem;
    }

    75%{
        right: 6rem;
    }
    100%{
        right: 3rem;
    }
}

.patalg{
    position: absolute;
    left: 6rem;
    top: 9rem;
    animation: 8s ease-in-out 0s infinite normal none running patalg;
}

@keyframes patalg {
    0%{
        left: 6rem;
    }

    25%{
        left: 9rem;
    }

    50%{
        left: 12rem;
    }

    75%{
        left: 9rem;
    }
    100%{
        left: 6rem;
    }
}

.pataxs{
    position: absolute;
    left: 3rem;
    top: 22rem;
    animation: 8s ease-in-out 0s infinite normal none running pataxs;
}

@keyframes pataxs {
    0%{
        top: 22rem;
    }

    25%{
        top: 24rem;
    }

    50%{
        top: 26rem;
    }

    75%{
        top: 24rem;
    }
    100%{
        top: 22rem;
    }
}

.pataxs2{
    position: absolute;
    float: right;
    right: 3rem;
    animation: leaf_animate 10s linear infinite;
}



.leaf_footer{
    position: absolute;
    left: 3rem;
    bottom: 4rem;
    animation: leaf_animation 8s linear infinite;
}
.leaf_footer2{
    /* position: absolute; */
    float: right;
    position: absolute;
    right: 6rem;
    top: 5rem;
    animation: leaf_animation 8s linear infinite;
}

@keyframes leaf_animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

@keyframes footer_animation{
    0%{
        left: 0;
    }
   100%{
    left: -750px;
   }
    
    

   
}





/* media_queries */

@media screen and (max-width:2000px) and (min-width:1400px){
    .hero_left{
        width: 50%;
        left: 2rem;
    }

    .hero_right{
        width: 50%;
        left: 1rem;
    }
}



@media screen and (max-width:1300px) and (min-width:800px){
        .second-header>ul>li:nth-child(3){
            display: none;
        }
        .second-header>ul>li:nth-child(5){
            display: none;
        }
        .second-header>ul>li:nth-child(7){
            display: none;
        }
        .second-header>ul>li:nth-child(9){
            display: none;
        }

        .phone{
            display: flex;
            align-items: center;
        }

        .phone>.phone_text{
            margin: auto 1rem;
            line-height: 1.5;
        }
}

@media screen and (max-width:1250px) and (min-width:800px){
    #hero_section{
        flex-direction: column;
        align-items: center;
    }

    .vegies_img{
        position: relative;
    }

    .hero_right{
        width: auto;
    }

    .hero_left{
        width: auto;
    }
}

@media screen and (max-width:1110px) and (min-width:800px){
    .second-header>ul{
        margin-left: auto;
    }

    .second-header{
        margin: auto;
        left: 0;
    }
}

@media screen and (max-width:940px){
    .phone{
        display: none;
    }
    .second-header>ul{
        margin-left: auto;
    }
}


@media screen and (max-width:1030px) and (min-width:800px){
    .top-header>ul>li{
        font-size: 0.7rem;
        padding: 0 0.5rem;
    }
}